.head{
	background-color:#FFC6AC;
	height:30px;
}
.image img{
	width: 98%;
	height: 500px;
	position: relative;
}
.imgtxt{
	height: 450px;
	width: 350px;
	border:3px solid white;
	background: transparent;
	position: absolute;
	left: 800px;
	bottom: 130px;
}
h2{
	color:darkblue;
	text-align: center;
}
h4	{
	text-align: center;
	color: whitesmoke;
	font-family: cursive;
}
button{
	background: transparent;
	border: 2px solid white;
	margin-left: 110px;
	margin-top: 20px;
}
.d{
	background:white;
	width:100%;
	height:450px;
	margin-top: 50px;
	margin-left:40px;
	border: transparent;
}
.a{

	border-radius: 5px;
	margin: 30px;
	height: 370px;
	width: 250px;
	float: left;
	background: #C8E4B2;

}

.b{

	margin: 30px;
	border-radius: 5px;
	height: 370px;
	width: 250px;
	float: left;
	background:#C8E4B2;
	}
	.c{

	border-radius: 5px ;
	margin: 30px;
	height: 370px;
	width: 250px;
	float: left;
	background:#C8E4B2;
}
.e{

	border-radius: 5px ;
	margin: 30px;
	height: 370px;
	width: 250px;
	float: left;
	background:#C8E4B2;
}
i{
	  margin-top:20px ;
	 margin-left: 120px;
		font-size: 50px;
		color: yellowgreen;
}
h3{
	text-align: center;
	color:#FD8D14;
}
b{
	text-align: center;
	color:dimgrey;
}
.main{
	font-family: sans-serif;
	font-weight: bolder;
	text-align: center;
	text-decoration: underline;
}
.island img{
	height: 300px;
	width: 300px;
	border-radius: 300px;
	padding: 20px;
	margin-left: 100px;
}
.circle{
	height: 150px;
	width: 150px;
	border-radius:50%;
	background-color:darkorange;
	border: 1px solid black;	
	float: left;
	position: absolute;
	left: 300px;
}
.pine{
	height: 700px;
	width: 700px;
	border-radius:30%;
	border: transparent;
	float: right;
	padding-right: 300px;
}
.holiday{
	height: 400px;
	width: 100%;
	background-color:#C8E4B2;
	border: transparent;
	box-sizing: border-box;
	margin: 70px 0 10px 0;
}

.butn{
	color: white;
	background: #765827;
	border-radius: 5px;
	border:transparent;
	margin-top: 20px;
	margin-right: 50px;
	height: 50px;
	width: 150px;
}
.image img{
	width: 98%;
	height: 700px;
	position: relative;
}
.about{
	border:10px solid white;
	background: transparent;
	height: 300px;
	width: 300px;
	position: relative;
	bottom: 550px;
	left: 150px;
}
.island img{
	height: 300px;
	width: 300px;
	border-radius: 300px;
	padding: 20px;
	margin-left: 100px;
}
.circle{
	height: 150px;
	width: 150px;
	border-radius:50%;
	background-color:darkorange;
	border: 1px solid black;	
	float: left;
	position: absolute;
	left: 300px;
}
.couple{
	height: 500px;
	width: 500px;
	float: right;
	padding-right: 40px;
}
hr{
	height:10px;
	background: #7EAA92;
}
.back{
	height: 300px;
	width: 100%;
	background: black;
	border: transparent;
}
.sub1{
	height: 300px;
	width: 50%;
	background: white;
	border: transparent;
	color:black;
	font-family: cursive;
	font-weight: bolder;
	text-align: center;
	float: left;
}
.buto{
	color: white;
	background:darkgreen;
	border-radius: 5px;
	border:transparent;
	height: 50px;
	width: 150px;
}
.sub2{
height: 300px;
	width: 50%;
	background:lightgrey;
	border: transparent;
	color:black;
	font-family:sans-serif;
	font-weight: bolder;
	text-align: center;
	float:right;
}
.back2
{
	height: 400px;
	width: 100%;
	background: black;
	border: transparent;
}
.x{
	height: 400px;
	width: 33.3%;
	background:lightgrey;
	border:1px solid white;
	color:black;
	text-align:left;
	float:left;
	font-weight: bolder;
	margin-top: 5px;
}
.y{
	height: 400px;
	width: 33.3%;
	background:lightgrey;
	border: 1px solid white;
	color:black;
	text-align:left;
	float:left;
	margin-top: 5px;
	font-weight: bolder;
}
.z img{
	height: 400px;
	float: right;
	width: 33.3%;
	position: relative;
	bottom: 400px;
}
.image2 img{
	width:900px;
	height: 500px;
	position: relative;

}
.img2txt{
	height:350px;
	width: 530px;
	border:3px solid white;
	background: transparent;
	float: right;
	position: absolute;
left: 388px;
}
input{
	height:30px ;
	width: 200px;
	color:dimgrey;
	background:lightgrey;
	margin: 5px;
}
textarea{
background: lightgrey;
color: dimgrey;
}
#save{
	height: 30px;
	width: 250px;
	background: skyblue;
	color: white;
	font-weight: bolder;
	border: 1px solid black;
}
#footer{
	position: relative;
	top:500px;
	background-color:black;
	width: 100%;
	height: 100px;
	color: white;
	box-sizing: border-box;
	padding-top: 50px;
}
#footer1{
	position: relative;
	top:550px;
	background-color:lightgrey;
	width: 100%;
	height: 100px;
	color:black;
	box-sizing: border-box;
	padding-top: 50px;
}